<html>
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    <p><a href="/">Home</a></p>
    <section id="searched_book">
      <%- include('./detail', {books: bookDetails, href: '', button: ['Some button']}) %>
    </section>
    <%- include('../../layout/footer') %>
  </body>
</html>