<html>
  <head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  </head>
  <body>
    <p><a href="/">Home</a></p>
    <section id="searched_book">
      <%- include('./detail', {books: bookDetails, href: '', button: ['Some button']}) %>
    </section>
  </body>
</html>