<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
    </header>
    <main id="form">
      <hgroup><h4>Search by Title or Author</h4></hgroup>
      <form action="/searches/new" method="post">
        <input  class="input" id="search" type="text" name="search" placeholder="Select either title or author" required>
        <fieldset  class="input" id="title">
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset  class="input" id="author">
          <label  for="author">
            <span>Author</span>
            <input  type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button id="submit" class="input" type="submit">Search the Google Books API</button>
      </form>
    </main>
  </body>
</html>