<!DOCTYPE html>
<html>
  <head>
    <title>Show books</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  </head>
  <body>
    <main>
      <% searchResults.forEach(item => { %>
        <section id="searched_book">
          <img src=<%= item.image %> />
          <h2><%= item.title %></h2>
          <h4><%= item.author %></h4>
          <button><a href="">Select this book</a></button>
        </section>
      <% }); %>
    </main>
  </body>
</html>