@import url('../modules.css');

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgrey;
  width: 100%;
}

hgroup {
  width: 100%;
  background-color: gray;
  height: 150px;
  color: white;
}

hgroup h4 {
  font-size: 30px;
}
body {
  background-color: darkgrey;
}

header {
  background-color: black;
  color: white;
  height: 200px;
}

h1 {
  font-size: 50px;
}

#search {

}

#author {

  background-color: white;
}

#title {
  background-color: white;
}

#submit {
 
  background-color: black;
  color: white;
}

.input {
  margin-top: 30px;
  width: 75%;
  height: 75px;
}

.book-view {
  background-color: rgb(70, 68, 68);
  width: 200px;
  height: 300px;
  margin-top: 75px;
}

.book-view img {
  width: 100px;
  height: 150px;
}

.hide-me {
  display: none;
}