<!DOCTYPE html>
<html>
  <head>
    <title>Show books</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  </head>
  <body>
    <h1><%= errorMessage %></h1>
  </body>
</html>