<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  </head>
  <body>
    <p><a href="/search">Search</a></p>
    <p>Total number of books: <%= booksAmount %></p>
    <%- include('./books/detail', {books: savedBooks, button: ['View details'], href:"/books/"}) %>
  </body>
</html>